$font-stack:    Helvetica, sans-serif;

html, body {
  font: 100% $font-stack;
  margin: 0;
  padding: 0;
}

#mainContainer {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 5%;

  #skyContainer {
    width: 625px;
    height: 625px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0;

    img#skyBackground {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
    } //img#skyBackground

    img#welcomeText {
      display: block;
      position: absolute;
      top: 4%;
      left: 4%;
      height: 15%;
    } //img#welcomeText

    img#ocean {
      display: block;
      position: absolute;
      top: 36.8%;
      left: -3.5%;
      height: 46.5%;
    } //img#ocean

    img#tentacles {
      display: block;
      position: absolute;
      top: 52.3%;
      left: 23.5%;
      height: 6.5%;
    } //img#ocean

    img#van {
      display: block;
      position: absolute;
      top: 58%;
      right: -4%;
      height: 11%;
    } //img#van

    img#sketchBook {
      display: block;
      position: absolute;
      top: 73%;
      right: 7.5%;
      height: 8%;
    } //img#sketchBook

    img#computer {
      display: block;
      position: absolute;
      top: 72%;
      right: -3%;
      height: 15%;
    } //img#computer

    img#flipPhone {
      display: block;
      position: absolute;
      top: 82.5%;
      right: -6.5%;
      height: 7%;
    } //img#flipPhone
  } // #skyContainer
} //#mainContainer
